.my-nav .navbar-brand {
    color: rgb(156, 76, 98) !important;
}

.my-nav .navbar-brand:active,
.my-nav .navbar-brand:focus {
    color: rgb(156, 76, 98) !important;
    background-color: inherit !important;
    border-radius: 0px !important;
}

.my-nav a {
    color: white !important;
}

.my-nav a:hover {
    color: rgb(156, 76, 98) !important;
}

.my-nav a:active,
.my-nav a:focus {
    background-color: rgb(156, 76, 98) !important;
    color: white !important;
    border-radius: 5px;
}