.profile-card {
    border-color: rgb(156, 76, 98) !important;
    box-shadow: 7px 7px 7px rgb(159, 126, 135) !important;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.profile-card .card-header {
    background-color: rgb(159, 126, 135) !important;
    font-weight: bold;
}

.profile-card .list-group {
    margin-left: 3%;
}

.profile-card .list-group-item {
    background: inherit !important;
    border-color: rgb(159, 126, 135)!important;
}

.profile-card .icon {
    float: right;
}