.create-form {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}

.create-form h3 {
    color: rgb(156, 76, 98);
    padding-bottom: 3%;
    text-align: center;
}

.form-control:focus {
    border-color: rgb(159, 126, 135) !important;
    box-shadow: 0px 0px 7px 3px rgb(159, 126, 135) !important;
}

.create-form button {
    background: rgb(156, 76, 98) !important;
    font-size: large;
    margin-top: 2%;
    margin-bottom: 5%;
}

.alert {
    font-size: small !important;
    margin: auto !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
    margin-bottom: 5% !important;
}

.create-form > .alert {
    margin: auto !important;
}