.signup-form {
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 10%;
}

.form-control:focus {
    border-color: rgb(159, 126, 135) !important;
    box-shadow: 0px 0px 10px 5px rgb(159, 126, 135) !important;
}

.alert {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
    font-size: small;
    text-align: center;
}